KaoQin/Web References/WsRegesiter/Regesiter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Set">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pcName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetSoapIn">
    <wsdl:part name="parameters" element="tns:Set" />
  </wsdl:message>
  <wsdl:message name="SetSoapOut">
    <wsdl:part name="parameters" element="tns:SetResponse" />
  </wsdl:message>
  <wsdl:portType name="RegesiterSoap">
    <wsdl:operation name="Set">
      <wsdl:input message="tns:SetSoapIn" />
      <wsdl:output message="tns:SetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegesiterSoap" type="tns:RegesiterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Set">
      <soap:operation soapAction="http://tempuri.org/Set" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegesiterSoap12" type="tns:RegesiterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Set">
      <soap12:operation soapAction="http://tempuri.org/Set" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Regesiter">
    <wsdl:port name="RegesiterSoap" binding="tns:RegesiterSoap">
      <soap:address location="http://wanghaipo/KaoQin.WebService/Regesiter.asmx" />
    </wsdl:port>
    <wsdl:port name="RegesiterSoap12" binding="tns:RegesiterSoap12">
      <soap12:address location="http://wanghaipo/KaoQin.WebService/Regesiter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>